mypatch.patch
mypatch.patch_1
*.txt
!Cert_271036-284044_13TeV_23Sep2016ReReco_Collisions16_JSON.txt
*.exe
*.pyc
._*
*.swp
*.root
*~
*/*~
LSF*
*.stdout
*.d
*.so
*.pcm
screenlog.0
runstep2condor.*
*.pdf
*.png
*.tgz
OutPut_Logs/*
