*.patch
summary.dat
*.jdl
*.sh
docker_stderror
*.txt
!Cert_271036-284044_13TeV_23Sep2016ReReco_Collisions16_JSON.txt
*.exe
*.pyc
._*
*.swp
*.root
*~
*/*~
LSF*
*.stdout
*.d
*.so
*.pcm
screenlog.0
*.pdf
*.png
*.tgz
OutPut_Logs/*
__init__.py
TEMP_listTemp_WJetsToLNu_HT_800To1200_TuneCP5_13TeV_0.txt.dat
